<nav class="navbar" style="background-color: rgb(54, 74, 54);">
    <div class="container">
        <a class="navbar-brand text-white" routerLink=""> <img src="assets/images/BlogLogo.png" style="width:8rem; "
                alt=""></a>

        <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span >
                <i class="fa fa-ellipsis-h text-white " aria-hidden="true"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" routerLink=""> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/user/login"> Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/user/signup">Sign Up</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search for a blog" aria-label="Search">
                <button class="btn btn-outline-light" type="submit"><i class="fa fa-search" aria-hidden="true"></i> </button>
              </form>

        </div>
    </div>
</nav>